{% extends "layout.html" %}
{% block title %}postgre-python-flask{% endblock %}
{% block body %}
<div class="row"><h3>ESTUDIANTES</h3></div>
<div class="row">
    <div class="col-md-4">
        {% with messages = get_flashed_messages()  %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card card-body">
            <form action="{{url_for('add_student')}}" method="POST">
                <div class="form-group">
                  <input type="text" class="form-control" name="fname" placeholder="Nombre">                  
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="lname" placeholder="apellidos">
                </div>
                <div class="form-group">
                  <input type ="email" class="form-control" name="email" placeholder="email">
                </div>
                <button class="btn btn-primary btn-block">
                    save
                </button>
              </form>
        </div>
    </div>
    <div class="col-md-8">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>
                {% for row in list_users %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td width="130">
                        <a href="/edit/{{row[0]}}" class="btn btn-secondary btn-sm">edit</a>
                        <a href="/delete/{{row[0]}}" class="btn btn-danger btn-delete btn-sm">delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
</div>


{% endblock %}
